<section data-ng-controller="LearnarticleController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="article.title"></h1>
	</div>

    <p class="url">Tipo de Articulo : {{article.arType}}</p>

	<div id="reader">
    <div id="word"></div>
</div>
<input type="number" value="250" id="wpm">
<button id="start">Start</button>	

<script>

</script>


	<p id="comment" class="lead" data-ng-bind="article.content" data-ng-init="fastReader()"></p>

	<div class="extras">

        <p class="description">Titulo Link: {{article.resource.description}}</p>
        <p class="url">Recurso Link: {{article.resource.url}}</p>
        <p class="url">Status: {{article.status}}</p>
	</div>

</section>