.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

/*Fast Reader Styles*/
/*#comment {
    display: block;
}
*/
.speedPosition{
    border: 1px solid;
    margin: auto;
    width: 80%
}
progressbar,          /* All HTML5 progress enabled browsers */
progressbar[role]     /* polyfill */
{

    /* Turns off styling - not usually needed, but good to know. */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    /* gets rid of default border in Firefox and Opera. */ 
    border: none;

    /* Needs to be in here for Safari polyfill so background images work as expected. */
    background-size: auto;
    
    /* Dimensions */
    width: 400px;
    height: 60px;
    
}

/* Polyfill */
progressbar[role]:after {
    background-image: none; /* removes default background from polyfill */
}

/* Ensure fallback text doesn't appear in polyfill */
progressbar[role] strong {
    display: none;
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: black;
    /*opacity: 0.5;*/
    width: 60px;
    height: 24px;
}

.readerContainer{
   -webkit-box-shadow: inset 0px 0px 7px 5px rgba(0,0,0,0.64);
-moz-box-shadow: inset 0px 0px 7px 5px rgba(0,0,0,0.64);
box-shadow: inset 0px 0px 7px 5px rgba(0,0,0,0.64);
    padding: 10px;
    border-radius: 2px;
}
.readerBox{
    background:whitesmoke;
    border-radius: 5px;
    padding: 8px;

}
.speednum{
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
    background: black;
    color: whitesmoke;
}
.reader {
    padding: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    font-size: 2.2em;
    font-family: verdana;
    margin-bottom: 30px;
    position: relative;
    height: 2.2em;
    line-height: 2.2em;
    display: block;
    margin: auto;
}

.reader::before, .reader::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    height: 10px;
    background-color: black;
    width: 2px;
    top: 0;
}

.reader::after {
    top: auto;
    bottom: 0;
}

.word {
    position: absolute;
}

.highlight {
    color: #c00;
}