.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

/*Fast Reader Styles*/
/*#comment {
    display: block;
}
*/
.speedPosition{
    border: 1px solid;
    margin: auto;
    width: 80%
}
.speednum{
    font-size: 1.4em;
    text-align: center;
    padding: 10px;
    margin: auto;
}
.reader {
    padding: 20px;
    border: 1px solid black;
    width: 90%;
    font-size: 2.2em;
    font-family: verdana;
    margin-bottom: 30px;
    position: relative;
    height: 2.2em;
    line-height: 2.2em;
    display: block;
    margin: auto;
}

.reader::before, .reader::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    height: 10px;
    background-color: black;
    width: 2px;
    top: 0;
}

.reader::after {
    top: auto;
    bottom: 0;
}

.word {
    position: absolute;
}

.highlight {
    color: #c00;
}